<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <meta charset="UTF-8">
    <title>"Klausur02"</title>
    <!--Fabijan Misura-->
</head>

<body>
    <h1>'Klausur Nr.2'</h1> 
    <h2>'Vorbereitungen'</h2> 
    <p>'Hier könnte ihr Text stehen'</p>

    <table border="1">
    <tr>
        <td>Zeile 1 Spalte 1</td>
        <td>Zeile 2 Spalte 2</td>
        <td>Zeile 3 Spalte 3</td>
        <td>Zeile 4 Spalte 4</td>
        <td>Zeile 5 Spalte 5</td>
        <td>Zeile 6 Spalte 6</td>
        <td>Zeile 7 Spalte 7</td>
        <td>Zeile 8 Spalte 8</td>
        <td>Zeile 9 Spalte 9</td>
    </tr>
    
    <tr>
        <td>1,2,3,4,5,6,7,8,9</td>
        <td>1,2,3,4,5,6,7,8,9</td>
        <td>1,2,3,4,5,6,7,8,9</td>
        <td>1,2,3,4,5,6,7,8,9</td>
        <td>1,2,3,4,5,6,7,8,9</td>
        <td>1,2,3,4,5,6,7,8,9</td>
        <td>1,2,3,4,5,6,7,8,9</td>
        <td>1,2,3,4,5,6,7,8,9</td>
        <td>1,2,3,4,5,6,7,8,9</td>
    </tr>
    </table>
    
    <ol>
        <li>Punkt1</li>
        <li>Punkt2</li>
    </ol>

    <p>
    <button>"Klick mich"</button>
    </p>

    <a href="https://www.berufskolleg-borken.de/" target="_blank">BKB</a>


    <hr></hr> 
    

</body>
</html>

