<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>N27-Bank</title>
</head>
<body>
    <h1>Herzlich Wilkommen bei der N27 Bank</h1></header> 
  <div>
      Konto-Angaben
  </div>

    <p> 
    <button type="button">Kontostand anzeigen</button>
    </p>

    <p> 
    <button type="button">Einzahlen</button>
    </p>

    <p> 
    <button type="button">Auszahlen</button>
    </p>

    <p> 
    <button type="button">Überweisung</button>
    </p>

    <img src="Logo.png" alt="Bank Logo" width="32" height="32">
    <a href="https://github.com/mf154290/N27-154290" target="_blank">BKB</a>
    <h1>Impressum</h1><footer>Persönliche-Angaben</footer>
    <p>mf154290@students.berufskolleg-borken.de</p>
    <p>Fabijan Misura</p>
    <p>NRW</p>
    <p>DE 46130381294799928442</p>
    <p>Einzelunternehmen</p>
    <p>Kundenservice Tel: 493824814</p>
    

</body>
</html>